<a href="https://colab.research.google.com/github/apujais007/api-nuggets/blob/main/price_target_change.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import userdata
import os

# Set the OPENAI_API_KEY environment variable
os.environ["FMP_API_KEY"] = userdata.get('FMP')

print("FMP_API_KEY environment variable has been set.")

FMP_API_KEY environment variable has been set.

In [17]:
import requests

import requests
import pandas as pd
import json
from datetime import datetime
import pytz

# Define the API endpoint and your API key
API_KEY = os.environ["FMP_API_KEY"]
url = f"https://financialmodelingprep.com/stable/price-target-latest-news?apikey={API_KEY}"


resp = requests.get(url)
data = resp.json()

rows = []
utc = pytz.utc
eastern = pytz.timezone("US/Eastern")

for entry in data:
    raw_date = entry.get("publishedDate")
    if raw_date:
        dt_utc = datetime.strptime(raw_date, "%Y-%m-%dT%H:%M:%S.000Z").replace(tzinfo=utc)
        dt_est = dt_utc.astimezone(eastern)
        formatted_date = dt_est.strftime("%I:%M %p %Z")
    else:
        formatted_date = None

    rows.append({
        "symbol": entry.get("symbol"),
        "Time":formatted_date,
        "analyst": entry.get("analystCompany", ""),
        "priceWhenPosted": entry.get("priceWhenPosted"),
        "priceTarget": entry.get("priceTarget"),
        "newsTitle": entry.get("newsTitle")
    })

df = pd.DataFrame(rows)

# Define color highlighting function
def highlight_target(row):
    if pd.notnull(row['priceTarget']) and pd.notnull(row['priceWhenPosted']):
        if row['priceTarget'] > row['priceWhenPosted']:
            return ['background-color: lightgreen'] * len(row)
        elif row['priceTarget'] < row['priceWhenPosted']:
            return ['background-color: salmon'] * len(row)
    return [''] * len(row)

styled_df = df.style.apply(highlight_target, axis=1)
styled_df